
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: "system-ui, sans-serif";
  line-height: 1.4;
  padding: 2em;
}

.card {
  padding: 2em;
}

fieldset {
  border-color: lightgray;
  border-style: solid;
}

a {
  color: dimgray;
}

ul {
  list-style-type: square;
}